<p id="notice"><%= notice %></p>

<p>
  <strong>Kind:</strong>
  <%= @pet.kind %>
</p>

<p>
  <strong>Color:</strong>
  <%= @pet.color %>
</p>

<p>
  <strong>Classroom:</strong>
  <%= @pet.classroom %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @pet.comments %>
</p>

<%= link_to 'Edit', edit_pet_path(@pet) %> |
<%= link_to 'Back', pets_path %>
